<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор Піцци</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="intro">Ласкаво просимо до Конструктора Піцци!</h1>
        <p>Створіть піццу своєї мрії, вибираючи улюблені інгредієнти.</p>
        <a href="/step1" class="btn btn-primary">Почати створення Піцци</a>
    </div>
</body>
</html>
